<mat-card class="info-container">
  <mat-card-header>
    <mat-card-title>
      Informations
    </mat-card-title>

    <mat-card-subtitle>
      Porte d'aération de la serre
    </mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="infoDetails">
    <mat-list>
      <mat-list-item>
        <div class="item">
          <span>
            Mode :
          </span> 
          <span>
            {{ getStateName(infoDetails.state) }}
          </span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item">
          <span>
            Vitesse du moteur :
          </span> 
          <span>
            {{ infoDetails.speed }} tr/min
          </span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item">
          <span>
            Direction du moteur :
          </span> 
          <span>
            {{ getDirectionName(infoDetails.direction) }}
          </span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item">
          <span>
            Température :
          </span> 
          <span>
            {{ infoDetails.temperature }} °C
          </span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item">
          <span>
            Distance d'ouverture :
          </span> 
          <span>
            {{ infoDetails.distance }} cm
          </span>
        </div>
      </mat-list-item>
    </mat-list>

   <h2 class="percentage">{{ infoDetails.percentage }}  %</h2>

   <mat-progress-bar
      class="example-margin"
      [mode]="'determinate'"
      [value]="infoDetails.percentage"
      [bufferValue]="progressBarBuffer"
    ></mat-progress-bar>
  </div>
</mat-card>
