.controls-container {
  height: 100%;

  .target-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      height: 35px;
    }
  }
}

button {
  width: 15em;
  background-color: #2E2E2E;
}