<mat-card
  *ngIf="alertDetails && (isTooMuchOpen || isNotEnoughOpen)"
  class="alert-container"
>
  <mat-card-header>
    <mat-card-title>
      Alerte !
    </mat-card-title>
    <mat-card-subtitle
      *ngIf="isTooMuchOpen"
    >
      La porte est ouverte plus que nécessaire :
    </mat-card-subtitle>
    <mat-card-subtitle
      *ngIf="isNotEnoughOpen"
    >
      La porte n'est pas assez ouverte :
    </mat-card-subtitle>
    <mat-card-subtitle>
      Ouverture actuel : <b>{{ alertDetails.actualPercentage }} %</b>
    </mat-card-subtitle>
    <mat-card-subtitle>
      Ouverture attendu : <b>{{ alertDetails.expectedPercentage }} %</b>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>