<mat-card
  *ngIf="alertDetails"
  class="alert-container"
>
  <mat-card-header>
    <mat-card-title>
      Alerte !
    </mat-card-title>
    <mat-card-subtitle>
      La porte est ouverte plus que nécessaire :
    </mat-card-subtitle>
    <mat-card-subtitle>
      La porte n'est pas assez ouverte :
    </mat-card-subtitle>
    <mat-card-subtitle>
      Ouverture actuel : <b>80 %</b>
    </mat-card-subtitle>
    <mat-card-subtitle>
      Ouverture attendu : <b>50 %</b>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>